/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body, main {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}